<%= javascript_importmap_tags 'application' %>
<div class="container">
<%= form_with(model: @user, url: @user.persisted? ? user_path(@user.id) : "/submit_form", method: @user.persisted? ? :patch : :post, local: true) do |form| %>
  <div class="form">
    <h1><%= @sending %></h1>
    <div class="group">
      <div class="form-group">
        <%= form.label :first_name, "First Name" %>
        <%= form.text_field :first_name, class: "input-field" %>
        <%= content_tag(:span, @user.errors.full_messages_for(:first_name).first, class: "error-message") if @user.errors.any? %>
      </div>
      <div class="form-group">
        <%= form.label :last_name, "Last Name" %>
        <%= form.text_field :last_name, class: "input-field" %>
        <%= content_tag(:span, @user.errors.full_messages_for(:last_name).first, class: "error-message") if @user.errors.any? %>
      </div>
    </div>

    <div class="group">
      <div class="form-group">
        <%= form.label :birthdate, "Birthdate" %>
        <%= form.date_field :birthdate, class: "input-field" %>
        <%= content_tag(:span, @user.errors.full_messages_for(:birthdate).first, class: "error-message") if @user.errors.any? %>
      </div>
      <div class="form-group">
        <div class="col">
        <%= form.label :gender, "Gender" %>
          <div class="row gap">
              <%= form.radio_button :gender, "Male"%> <%= form.label :gender_male, "Male" %>
              <%= form.radio_button :gender, "Female" %> <%= form.label :gender_female, "Female" %>
          </div>
        </div>
        <%= content_tag(:span, @user.errors.full_messages_for(:gender).first, class: "error-message") if @user.errors.any? %>
      </div>
    </div>

    <div class="group">
      <div class="form-group">
        <%= form.label :email, "Email" %>
        <%= form.text_field :email, class: "input-field"%>
        <%= content_tag(:span, @user.errors.full_messages_for(:email).first, class: "error-message") if @user.errors.any? %>
      </div>
      <div class="form-group" data-controller="phone">
        <%= form.label :phone, "Phone Number" %>
        <%= form.telephone_field :phone, id: "phone_input", class: "input-field", data: { target: "phone.input", action: "input->phone#format" } %>
        <%= content_tag(:span, @user.errors.full_messages_for(:phone).first, class: "error-message") if @user.errors.any? %>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :subject, "Subject", required: true %>
      <%= form.select :subject, options_for_select([['Computer Science', 'Computer Science'], ['Math', 'Math'], ['Science', 'Science'], ['Social Sciences', 'Social Sciences'], ['English', 'English']], @user.subject), { prompt: 'Choose a subject' }, { class: "input-field" } %>
      <%= content_tag(:span, @user.errors.full_messages_for(:subject).first, class: "error-message") if @user.errors.any? %>
    </div>

    <div class="form-group btn-group">
        <%= form.submit @user.new_record? ? "Submit" : "Update", class: "btn-primary", data: {turbo_frame: 'full'} %>
        <%= button_to 'Cancel', '#', class: (@user.new_record? ? 'hidden' : 'btn-primary btn-delete') %>
    </div>
  </div>
<% end %>

</div>