<div class="group-view">
  <div id="card" class="group-card">
    <% @users.each do |user| %>
      <div id="<%= dom_id(user) %>" class="card">
        <div class="head">
          <div class="avata">
            <%= user.first_name[0].upcase if user.first_name.present? %>
          </div>
        </div>
        <div class="body">
          <!-- User details -->
          <div class="body-group">
            <div><span>Name : </span><p><%= user.first_name %></p></div>
            <div><p><%= user.last_name %></p></div>
          </div>
          <div class="body-group">
            <div><span>Birthdate : </span><p><%= user.birthdate %></p></div>
            <div><span>Email : </span><p><%= user.email %></p></div>
          </div>
          <div class="body-group">
            <div><span>Phone number : </span><p><%= user.phone %></p></div>
            <div><span>Gender : </span><p><%= user.gender %></p></div>
          </div>
          <div class="body-group">
            <div><span>Subject : </span><p><%= user.subject %></p></div>
          </div>
        </div>
        <div class="end">
          <%= button_to 'Edit', edit_user_path(user), method: :get, class: "btn btn-edit" %>
          <button id="myBtn", class="btn btn-delete">Delete</button>
        </div>
      </div>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Delete</h2>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete?</p>
          </div>
          <div class="modal-footer">
            <%= button_to 'Delete', user_path(user), method: :delete, class: "btn2 btn-delete" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>