<div class="group-view">
  <div id="card" class="group-card" data-controller="modal">
    <% @users.each do |user| %>
      <div id="<%= dom_id(user) %>" class="card">
        <div class="head">
          <div class="avata">
            <%= user.first_name[0].upcase if user.first_name.present? %>
          </div>
        </div>
        <div class="body">
          <!-- User details -->
          <div class="body-group">
            <div><span>Name : </span ><p data-testid='fName'><%= user.first_name %></p></div>
            <div><p data-testid='lName'><%= user.last_name %></p></div>
          </div>
          <div class="body-group">
            <div><span>Birthdate : </span><p data-testid='bDate'><%= user.birthdate %></p></div>
            <div><span>Email : </span><p data-testid='email'><%= user.email %></p></div>
          </div>
          <div class="body-group">
            <div><span>Phone number : </span><p data-testid='phone'><%= user.phone %></p></div>
            <div><span>Gender : </span><p data-testid='gender'><%= user.gender %></p></div>
          </div>
          <div class="body-group">
            <div><span>Subject : </span><p data-testid='subject'><%= user.subject %></p></div>
          </div>
        </div>
        <div class="end">
          <%= button_to 'Edit', edit_user_path(user), method: :get, class: "btn btn-edit", data: {turbo_frame: 'form-container', testid: 'edit'} %>
          <button id="myBtn ",data-testid="btn-delete" , class="btn btn-delete", data-action="click->modal#toggle">Delete</button>
        </div>
      </div>
      <div id="myModal" class="modal" data-modal-target="delModal">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Delete</h2>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete?</p>
          </div>
          <div class="modal-footer" data_turbo_frame="users-container">
            <button class="btn2 btn-cancel",data-testid='cancle', data-action="click->modal#hide">Cancel</button>
            <%= button_to 'Delete', user_path(user), method: :delete, class: "btn2 btn-delete", data: { action: "click->modal#hide", testid: 'confirm-delete' }%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>