<div class="group-view">
  <div id="card" class="group-card" data-controller="modal">
    <% @users.each do |user| %>
      <div id="<%= dom_id(user) %>" class="card">
        <div class="head">
          <div class="avata">
            <%= user.first_name[0].upcase if user.first_name.present? %>
          </div>
        </div>
        <div class="body">
          <!-- User details -->
          <div class="body-group">
            <div><span>Name : </span><p><%= user.first_name %></p></div>
            <div><p><%= user.last_name %></p></div>
          </div>
          <div class="body-group">
            <div><span>Birthdate : </span><p><%= user.birthdate %></p></div>
            <div><span>Email : </span><p><%= user.email %></p></div>
          </div>
          <div class="body-group">
            <div><span>Phone number : </span><p><%= user.phone %></p></div>
            <div><span>Gender : </span><p><%= user.gender %></p></div>
          </div>
          <div class="body-group">
            <div><span>Subject : </span><p><%= user.subject %></p></div>
          </div>
        </div>
        <div class="end">
          <%= button_to 'Edit', edit_user_path(user), method: :get, class: "btn btn-edit" %>
          <button id="myBtn", class="btn btn-delete", data-action="click->modal#toggle">Delete</button>
        </div>
      </div>
      <div id="myModal" class="modal" data-modal-target="delModal">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Delete</h2>
          </div>
          <div class="modal-body">
            <p>Are you sure to delete?</p>
          </div>
          <div class="modal-footer">
            <button class="btn2 btn-cancel", data-action="click->modal#hide">Cancel</button>
            <%= button_to 'Delete', user_path(user), method: :delete, class: "btn2 btn-delete" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>