<%= javascript_importmap_tags 'application' %>
<div class="full">
    <div id="form-container">
        <%= render "form" %>
    </div>
    <%= render "filter_user"%>
    <%= render "search_bar"%>
    <div id="users-container">
        <%= render "users_list" %>
    </div>
</div>